html,body{
    background-color: #16162a;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#gameCanavas{

    --size: 1;

    background-color: rgb(70, 70, 70);
    transform: scale(var(--size));
    padding: 10px;
}

#gameCanavas>canvas{
    margin: 0;
    image-rendering:optimizeSpeed;
}