.optionColor{
    --color_2:var(--option_color);
}

.onlineColor{
    --color_2:var(--online_color);
}

.bntBack{
    --color_2:#ff0055;
}

.creditColor{
    --color_2:var(--credit_color);
}

.iconOption{
    mask-image: url("../ressource/settings.svg");
}
.iconBack{
    mask-size:140% !important;
    mask-image: url("../ressource/back.svg");
}

.iconMain{
    mask-image: url("../ressource/home.svg");
}

.iconCredit{
    mask-image: url("../ressource/credit.svg");
}

.iconOnline{
    mask-image: url("../ressource/online.svg");
}

.iconEditor{
    mask-image: url("../ressource/editor.svg");
}

.iconLocal{
    mask-image: url("../ressource/play.svg");
}

.iconFile{
    mask-image: url("../ressource/folder.svg");
}

.iconPlus{
    mask-image: url("../ressource/plus.svg");
}

.iconJoin{
    mask-image: url("../ressource/join.svg");
}

/* editor icons - most of them from flaticons.com / Uicons */

.iconUndo {
    mask-image: url("../ressource/undo.svg");
}

.iconRedo {
    mask-image: url("../ressource/redo.svg");
}

.iconNew {
    mask-image: url("../ressource/add-document.svg");
}

.iconSave {
    mask-image: url("../ressource/disk.svg");
}

.iconSaveAs {
    mask-image: url("../ressource/floppy-disk-pen.svg");
}

.iconLoad {
    mask-image: url("../ressource/file-upload.svg");
}

.iconUpload {
    mask-image: url("../ressource/cloud-upload-alt.svg");
}

.iconTest {
    mask-image: url("../ressource/play.svg");
}

.iconDraw {
    mask-image: url("../ressource/paint.svg");
}

.iconErase {
    mask-image: url("../ressource/eraser.svg");
}

/* TODO(tbi): create pan icon */
.iconPan {
    mask-image: url("../ressource/play.svg");
}

.iconRect {
    mask-image: url("../ressource/rectangle-horizontal.svg");
}
