:root{
    --backgroundColor : #19191a;
    --play_color:hsla(197, 100%, 64%, 1);
    --option_color:#ffbb00;
    --credit_color:#d55ff6;
    --online_color:#00ff99;

    --pixelFilter : url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxmaWx0ZXIgaWQ9ImZpbHRlciIgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgY29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzPSJzUkdCIj48ZmVDb21wb25lbnRUcmFuc2Zlcj48ZmVGdW5jUiB0eXBlPSJpZGVudGl0eSIvPjxmZUZ1bmNHIHR5cGU9ImlkZW50aXR5Ii8+PGZlRnVuY0IgdHlwZT0iaWRlbnRpdHkiLz48ZmVGdW5jQSB0eXBlPSJkaXNjcmV0ZSIgdGFibGVWYWx1ZXM9IjAgMSIvPjwvZmVDb21wb25lbnRUcmFuc2Zlcj48L2ZpbHRlcj48L3N2Zz4=#filter");
}


html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: var(--backgroundColor);
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    overflow: hidden;
}

#tilePreview{
    position: absolute;
    top:0px;
    left: 0px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    pointer-events:none;
    opacity: 0.5;
    image-rendering:optimizeSpeed;
    transform: translate(calc(-50%),calc(-50%));
    transition: all 0.04s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#tilePreview.hide{
    display: none;
}

#tilePreview.removeIcon{
    border-style: solid;
    border-color: #ff0055;
    border-width: 3px;
    opacity: 0.8;
    border-radius: 4px;
}

#tilePreview.removeIcon:after{
    display: inline-block;
    content: "\00d7";
    color: #ff0055;
    transform: scale(2) translate(0,-10%);
}


#gameCanavas{
    overflow: hidden;
    --size: 1;


    position: relative;
    transform: translate(0%, 0%);
    border-style: solid;
    border-color: aliceblue;
}

#gameCanavas>#canvas{
    filter: var(--pixelFilter) drop-shadow(-4px 4px 0px rgba(0, 0, 0, 0.493));
    image-rendering: pixelated;
    z-index: 1;
}

#gameCanavas>#canvasBackground{
    z-index: 0;
}

#gameCanavas>#canvasDebug{
    z-index: 2;
}

#gameCanavas>div{
    position: absolute;
    top: 0;
    left: 0;
}

#gameCanavas>.gameCanvas{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    image-rendering:optimizeSpeed;
}

#ui{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 4;
}

#debugLabel{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #19191a;
    opacity:1;
    color: aliceblue;
    font-weight: bold;
    opacity: 0.75;
}

/*----- UI -----*/

#transition{
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: var(--backgroundColor);
    z-index: 100;
}

#transition.showTransi{
    display: block;
    animation: transiAnimation 0.75s cubic-bezier(0.97,0.12,0.22,0.75);
}

@keyframes transiAnimation {
    0% {
        transform: scale(1,1) translate(-100%,0);
    }
    35%{
        transform: scale(1,1);
    }
    75%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1,1) translate(100%,0);
    }
}



/*----- UI -----*/
.uiSceen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

.uiSceen.uiHide{
    pointer-events:none;
    opacity: 0;
    z-index: -10;
}

.uiSceen.uiShow{
    opacity: 1;
}

.uiSceen.uiHide>*{
    transform: scale(0);
    transition: all 0.2s cubic-bezier(0.23,0.81,0,1.23);
}


.uiSceen.uiShow>*{
    transform: scale(1);
}

#pauseMenu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.23,0.81,0,1.23),
}

h1{
    font-size: 40px;
    color: gray;
    -webkit-text-stroke: #19191a 1px;
    filter: drop-shadow(0 4px 0 #4a434e);
}

.menuTitle{
    --menuTitle_color:#000;
    user-select: none;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: var(--menuTitle_color);
    border-bottom: solid var(--menuTitle_color);
    margin-bottom: 10px;
}
.menuTitle .bntIcon{
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: var(--menuTitle_color);
}

#pauseMenu.uiHide{
    opacity: 0;
}


#pauseMenu.uiShow{
    opacity: 1;
}
#pauseMenu>.menuTitle{
    color: gray;
    border-color: gray;
}

#blackBackground{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #19191aa9;
    width: 100%;
    height: 100%;
}


#loadingScreen{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    transition: all 0.2s cubic-bezier(0.23,0.81,0,1.23);
}

#loadingScreen .loading{
    display: flex;
    align-items: center;
    margin: 20px;
    color: whitesmoke;
}

#loadingScreen .loading > .loadingIcon{
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-image: url("../ressource/loading.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#loadingScreen.uiShow{
    opacity: 1;
}


#mainMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainMenu>.logo{
    align-self: center;
    min-width: 400px;
    min-height: 150px;
    background-image: url("../ressource/logo2.svg");/*url("../ressource/l.jpg");*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px;
    animation: logo 5s infinite cubic-bezier(0.23,2,0,1.23);
}

@keyframes logo {
    0%{
        transform: rotate(-2deg);
    }
    50%{
        transform: rotate(2deg);
    }
    100%{
        transform: rotate(-2deg);
    }
}



#mainMenu.uiShow>.logo{
    transform: scale(1,1) translate(0,0);
    transition: all 0.25s cubic-bezier(0.23,0.81,0,1.23);
}

#mainMenu.uiHide>.logo{
    transform: scale(1.5,0.5) translate(0,-600px);
    transition: none;
}

#local>.menuTitle{
    --menuTitle_color: var(--play_color);
}


:is(#online,#createRoom,#joinRoom) >.menuTitle{
    --menuTitle_color: var(--online_color);
}



#option>.menuTitle{
    --menuTitle_color:var(--option_color);
}

#option h3{
    user-select: none;
    margin: 5px;
    align-self: flex-start;
    color:var(--option_color);
}

#option #optionContainer{
    width: 60%;
    height: 200px;
    margin: 5px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-right: 25px;
}
#option #optionContainer #controllesContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inpuShower{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid #00000055 2px;
    padding: 5px;
    transition: all 0.1s cubic-bezier(0.23,2,0,1.23);
    margin-bottom: 10px;
    padding: 4px 5px;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    background-color: #19191900;
}

.inpuShower label{
    color: whitesmoke;
    font-weight: bold;
    user-select: none;
    margin-left: 10px;
}

#option #optionContainer h4{
    font-size: 20px;
    margin: 2px;
    color: gray;
    user-select: none;
}

.keyList{
    display: flex;
    margin: 5px 0px;
    overflow: hidden;
    max-width: 60%;
}

.keyElement{
    background-color: #ffffff;
    padding: 2px 8px;
    border-radius: 4px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    border-radius: 100px;
    user-select: none;
}

.inpuShower:hover{
    transform: scale(1.1);
    background-color: #19191999;
}
.inpuShower:active:hover{
    transform: scale(1.05);
}

#credit>.menuTitle{
    --menuTitle_color:var(--credit_color);
}

#credit .creditHolder{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#credit .creditItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    font-size: 15x;
    margin: 10px;
    font-weight: bold;
    color: var(--credit_color);
}

#credit .creditItem>.drawing{
    width: 75px;
    height: 75px;
    background-image: url("../ressource/credit/unkow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    margin-bottom: 5px;
    border: var(--credit_color) 3px solid;
}

#credit #creditTB>.drawing{
    background-image: url("../ressource/credit/test.png");
}


#keyChange{
    user-select: none;
}

#keyChange h2{
    color: white;
    user-select: none;
}


#keyChange .keyList{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #00000058;
    min-width: 40%;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    user-select: none;
}

#keyChange .keyList .keyElement{
    margin: 5px;
}